body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    font-family: Roboto, sans-serif;
  }


.header{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    
    
   
}


h1{
    margin-left: 10px;
}

.hero{
    background-color: #1F2937;
    color:#e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    
}

.block{
    flex-direction: column;
    width: 500px;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 25px;
    
    
    
  }

  .borderone{
    
    border-radius: 25px;
    flex-wrap: wrap;
    padding: -10px;
    width: 210px;
   
  }

  .bordertwo{
    border-radius: 25px;
    flex-wrap: wrap;
    padding: -10px;
    width: 210px;

  }

  .borderthree{
    border-radius: 25px;
    flex-wrap: wrap;
    padding: -10px;
    width: 210px;

  }

  .borderfour{
    border-radius: 25px;
    flex-wrap: wrap;
    padding: -10px;
    width: 210px;

  }

  .quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-color:#1F2937;
    
    
  }

 #quotetwo{
    width: 600px;
    
    margin-left: 600px;
 }

 #quotethree{
    margin-left: 900px;
 }

 .action{
    background-color: #3882f6;
    color: white;
   
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    border-radius: 25px;
    border: solid;
    border-color: white;
    
 }

 #actiontwo{
    display: flex;
    flex-direction: column;
    

    
 }

button{
    color: white;
    background-color: #3882f6;
    border-radius: 25px;
    height: 50px;
    Width: 200px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

img{
    border-radius: 25px;
    border: solid;
    border-color: #1F2937;
    
    
}

h3{
    display: flex;
    justify-content: center;
    color:#1F2937;
    font-size: 36px;
}

h4{
    margin-bottom: -10px;
}

button{
    margin-top: 10px;
    border: solid;
    border-color: #F9FAF8;
}

footer{
    background-color: rgb(37, 37, 37);
    color:#e5e7eb;
    text-align: center;
}

button .action{
    border: solid;
}